PORT=3000
APP_CORS_ORIGIN=http://localhost:5173
# Optionnel: liste d'origines autorisees separees par des virgules
# APP_CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:4173
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=password
DATABASE_NAME=qr_order_db

JWT_SECRET=super-secret-key
JWT_EXPIRES_IN=3600s

STRIPE_API_KEY=pk_test_51TK5fgAb5tCT9vASZ0NRdVQtWm9UDHN6OCP0NyoeyRHEbibB1L9bjehkNo2zDZeSEgE94iNJjhLzwXa2hfLbnfsZ00GZmkQ7yE
STRIPE_WEBHOOK_SECRET=whsec_1XaX40OJi5cJ1372m5Tyob984UXOdfcY

# For Email notifications (Optional)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=...
MAIL_PASS=...
